version: '3.1'

# Instructions:
# docker compose up [--detach]
# docker compose logs --follow
# docker compose stop
# docker compose down
#
# Edit your /etc/hosts
# 127.0.0.1 ${LETTER}${APP_VERSION}.local
#
# ${PROXY_SCHEME}://${PROXY_DOMAIN}:${PROXY_PORT}${CONTEXT_PATH}
#
# Get the license from https://requirementyogi.atlassian.net/wiki/spaces/TEAM/pages/1844413025/License+keys
# To set up the database in Confluence:
#    jdbc:postgresql://postgres:5432/confluence # In the setup wizard, replace 'lcoalhost' with 'postgres'
#    jdbc:postgresql://localhost:${PORT_DB}/${APP} # For IntelliJ
#    Username: confluence
#    Password: confluence
# Please your jars in `realpath ./quickreload` to be reloaded
# To set up the database in IntelliJ: jdbc:postgresql://localhost:${PORT_DB}/confluence
# Log files are in ./logs/atlassian-confluence.log

services:

  confluence:
    image: "yogi:confluence-${APP_VERSION}${APPLE_SUFFIX}"
    environment:
      - "JVM_SUPPORT_RECOMMENDED_ARGS=-Xdebug
       -Xrunjdwp:transport=dt_socket,address=*:5005,server=y,suspend=n
       -Dcom.sun.management.jmxremote.port=9999
       -Dcom.sun.management.jmxremote.rmi.port=9998
       -Dcom.sun.management.jmxremote.authenticate=false
       -Dcom.sun.management.jmxremote.ssl=false
       -Dapplinks.allow.all.hosts=true
       -Datlassian.dev.mode=true
       -Dupm.plugin.upload.enabled=true
       -Dupm.pac.disable=true
       -Dquickreload.dirs=/plugin"
      - "ATL_PROXY_NAME=${PROXY_DOMAIN}"
      - "ATL_PROXY_PORT=${PROXY_PORT}"
      - "ATL_TOMCAT_CONTEXTPATH=${CONTEXT_PATH}"
      - "ATL_TOMCAT_SCHEME=${PROXY_SCHEME}"
      - "ATL_TOMCAT_SECURE=${PROXY_SECURE}"
    ports:
      - ${PORT_DEBUG}:5005
      - ${PORT_HTTP}:8090
    volumes:
      - "./quickreload:/plugin"
      # Activate the following line if you want to access the confluence-home directory
      # - "./confluence-home:/var/atlassian/application-data/confluence"
      - "./logs:/var/atlassian/application-data/confluence/logs"
    networks:
      default:
      shared-network:

  # Redirects http://${LETTER}${APP_VERSION}.local:${PORT_HTTP} inside the network,
  # to http://confluence:${PORT_INTERNAL}
  nginx:
    image: nginx:1.24.0-alpine
    container_name: "${LETTER}${APP_VERSION}.local"
    volumes:
      - ./app-nginx.conf:/etc/nginx/conf.d/app-nginx.conf
    networks:
      default:
      shared-network:

  # Use the hostname 'postgres' from inside the container, i.e.:
  # jdbc:postgresql://localhost:5432/confluence
  # If you want to access this DB from your host, please use
  # 'postgres' instead of 'localhost'
  postgres:
    image: postgres:${PG_VERSION}
    ports:
      - ${PORT_DB}:5432
    environment:
      - POSTGRES_USER=confluence
      - POSTGRES_PASSWORD=confluence
      - POSTGRES_DB=confluence
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
      - LANG=C
    # volumes:
      #- "./application-data/postgres:/var/lib/postgresql/data"
    networks:
      - default

  # Uncomment this section if you want to use MySQL as a database
  # URL from Confluence: jdbc:mysql://mysql/confluence
  # mysql:
  #   image: mysql:8.0
  #   ports:
  #     - 3102:3306
  #   environment:
  #     MYSQL_DATABASE: "confluence"
  #     MYSQL_USER: "confluence"
  #     MYSQL_PASSWORD: "confluence"
  #     MYSQL_ROOT_PASSWORD: "root"
  #   command: [
  #     'mysqld',
  #     '--character-set-server=utf8mb4',
  #     '--collation-server=utf8mb4_bin',
  #     '--default-storage-engine=INNODB',
  #     '--max_allowed_packet=256M',
  #     '--innodb_log_file_size=2GB',
  #     '--transaction-isolation=READ-COMMITTED',
  #     '--binlog_format=row',
  #     '--log-bin-trust-function-creators=1'
  #   ]
  #   networks:
  #     - default

networks:
  shared-network:
    external:
      name: shared-network
